/Beutelspacher 2015 - Kryptologie.pdf
/Beutelspacher, Schwenk et al. 2015 - Moderne Verfahren der Kryptographie.pdf
/Christof Paar 2010 - Understanding Cryptography.pdf
/Cole 2003 - Hiding in plain sight.pdf
/Miano 2000 - Compressed image file formats.pdf
/oldBuchmann 2016 - Einführung in die Kryptographie.pdf
/Petrlic, Sorge 2017 - Datenschutz.pdf
/Schneier 2015 - Applied Cryptography.pdf
/Cox 2008 - Digital watermarking and steganography.7z
